# Introduction to Data Science in Python - Hypothesis Testing


Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as <span style = 'color:red'>starting with two consecutive quarters of GDP decline</span>, and <span style = 'color:red'>ending with two consecutive quarters of GDP growth</span>.
* A _recession bottom_ is the <span style = 'color:red'>quarter</span> within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less affected by recessions. Run a t-test to compare the ratio of the <span style = 'color:red'>mean price</span> of houses in university towns <span style = 'color:red'>the quarter before the recession starts</span> compared to the <span style = 'color:red'>recession bottom</span>. (`price_ratio = quarter_before_recession / recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has <span style = 'color:red'>median home sale prices</span> at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (<span style = 'color:red'>use the chained value in 2009 dollars</span>), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data <span style = 'color:red'>from the first quarter of 2000 onward</span>.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

<br>

In [1]:
import pandas as pd
import numpy as np
import re
from scipy.stats import ttest_ind

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 
          'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 
          'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 
          'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 
          'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 
          'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 
          'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 
          'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 
          'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 
          'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 
          'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 
          'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 
          'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 
          'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 
          'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 
          'ND': 'North Dakota', 'VA': 'Virginia'}

<br>
### Auxiliary functions:

<span style="color:blue">Very ugly way (seems faster though) to get the states and towns:</span>

In [3]:
########### Extract state names. ###########
fh = open("university_towns.txt")

lst = list()
for line in fh:
    line = line.strip()
    x = re.findall('.+(?=\[edit\])', line) 
    if len(x) > 0 : 
        # Do NOT use append(), otherwise the state names added into the list would be 
        # sublists rather than strings.
        lst.extend(x) 



########### Extract college town names. ###########
# Must reopen the text file.
fh = open("university_towns.txt")
text = fh.read()

# Split the text by state and store the content in a list. 
# Note that the first state name is kept in the data since it has no preceding "\n".
split_by_state = re.compile('\n.+\[edit\]').split(text)

# Within each state, separate each college towns. 
# Note that because we have a redundant blank line at the end of the text file, the last 
# state Wyoming would need extra processing in the end.
b = pd.Series(split_by_state).apply(lambda x: x.split("\n"))
# While b is a series, the elements of b are all lists.

# Create a wide dataframe with the first column storing the state names and subsequent 
# columns college towns.
state_region = b.apply(lambda x: pd.Series(x))


########### Match towns with states and reshape the data from wide to long ###########
state_region.iloc[:,0] = lst
state_region = (pd.melt(state_region, id_vars = [0])
                .dropna()
                .drop('variable', axis = 1)
                .rename(columns = {0:'State', 'value': 'RegionName'})
                .sort_values(['State', 'RegionName']))

# Remove the university names.
state_region.RegionName = state_region.RegionName.apply(lambda x: re.sub(r' \(.*', '', x))

# Extra processing for Wyoming.
state_region = state_region.where(state_region.RegionName != "").dropna()

state_region

             State                    RegionName
0          Alabama                        Auburn
50         Alabama                      Florence
100        Alabama                  Jacksonville
150        Alabama                    Livingston
200        Alabama                    Montevallo
250        Alabama                          Troy
300        Alabama                    Tuscaloosa
350        Alabama                      Tuskegee
1           Alaska                     Fairbanks
2          Arizona                     Flagstaff
52         Arizona                         Tempe
102        Arizona                        Tucson
3         Arkansas                   Arkadelphia
53        Arkansas                        Conway
103       Arkansas                  Fayetteville
153       Arkansas                     Jonesboro
203       Arkansas                      Magnolia
253       Arkansas                    Monticello
303       Arkansas                  Russellville
353       Arkansas                        Searcy
4       California                        Angwin
54      California                        Arcata
104     California                      Berkeley
154     California                         Chico
204     California                     Claremont
254     California                        Cotati
304     California                         Davis
354     California                        Irvine
404     California                    Isla Vista
504     California                        Merced
..             ...                           ...
495       Virginia                  Williamsburg
545       Virginia                          Wise
46      Washington                    Bellingham
96      Washington                        Cheney
146     Washington                    Ellensburg
196     Washington                       Pullman
246     Washington  University District, Seattle
47   West Virginia                        Athens
97   West Virginia                    Buckhannon
147  West Virginia                      Fairmont
197  West Virginia                     Glenville
247  West Virginia                    Huntington
297  West Virginia                    Montgomery
347  West Virginia                    Morgantown
397  West Virginia                 Shepherdstown
447  West Virginia                  West Liberty
48       Wisconsin                      Appleton
98       Wisconsin                    Eau Claire
148      Wisconsin                     Green Bay
198      Wisconsin                     La Crosse
248      Wisconsin                       Madison
298      Wisconsin                     Menomonie
348      Wisconsin                     Milwaukee
398      Wisconsin                       Oshkosh
448      Wisconsin                   Platteville
498      Wisconsin                   River Falls
548      Wisconsin                 Stevens Point
598      Wisconsin                      Waukesha
648      Wisconsin                    Whitewater
49         Wyoming                       Laramie

[517 rows x 2 columns]

<br>

<span style="color:blue">Read GDP data:</span>    
In this function, read_excel() argument "skiprows" can be altered for testing the code.

In [4]:
def read_GDP():
    
    GDP = pd.read_excel('gdplev.xls', skiprows = 219, parse_cols = 'E,G',
                        names= ['quarter', 'billions_2009dollars'])
    GDP['quarterly_diff'] = GDP['billions_2009dollars'].diff()
    GDP = GDP.assign(indicator = np.where(GDP['quarterly_diff'] >= 0, 1, -1))
    
    return GDP

In [5]:
read_GDP()

   quarter  billions_2009dollars  quarterly_diff  indicator
0   2000q1               12359.1             NaN         -1
1   2000q2               12592.5           233.4          1
2   2000q3               12607.7            15.2          1
3   2000q4               12679.3            71.6          1
4   2001q1               12643.3           -36.0         -1
5   2001q2               12710.3            67.0          1
6   2001q3               12670.1           -40.2         -1
7   2001q4               12705.3            35.2          1
8   2002q1               12822.3           117.0          1
9   2002q2               12893.0            70.7          1
10  2002q3               12955.8            62.8          1
11  2002q4               12964.0             8.2          1
12  2003q1               13031.2            67.2          1
13  2003q2               13152.1           120.9          1
14  2003q3               13372.4           220.3          1
15  2003q4               13528.7           156.3          1
16  2004q1               13606.5            77.8          1
17  2004q2               13706.2            99.7          1
18  2004q3               13830.8           124.6          1
19  2004q4               13950.4           119.6          1
20  2005q1               14099.1           148.7          1
21  2005q2               14172.7            73.6          1
22  2005q3               14291.8           119.1          1
23  2005q4               14373.4            81.6          1
24  2006q1               14546.1           172.7          1
25  2006q2               14589.6            43.5          1
26  2006q3               14602.6            13.0          1
27  2006q4               14716.9           114.3          1
28  2007q1               14726.0             9.1          1
29  2007q2               14838.7           112.7          1
..     ...                   ...             ...        ...
36  2009q1               14375.0          -202.0         -1
37  2009q2               14355.6           -19.4         -1
38  2009q3               14402.5            46.9          1
39  2009q4               14541.9           139.4          1
40  2010q1               14604.8            62.9          1
41  2010q2               14745.9           141.1          1
42  2010q3               14845.5            99.6          1
43  2010q4               14939.0            93.5          1
44  2011q1               14881.3           -57.7         -1
45  2011q2               14989.6           108.3          1
46  2011q3               15021.1            31.5          1
47  2011q4               15190.3           169.2          1
48  2012q1               15291.0           100.7          1
49  2012q2               15362.4            71.4          1
50  2012q3               15380.8            18.4          1
51  2012q4               15384.3             3.5          1
52  2013q1               15491.9           107.6          1
53  2013q2               15521.6            29.7          1
54  2013q3               15641.3           119.7          1
55  2013q4               15793.9           152.6          1
56  2014q1               15747.0           -46.9         -1
57  2014q2               15900.8           153.8          1
58  2014q3               16094.5           193.7          1
59  2014q4               16186.7            92.2          1
60  2015q1               16269.0            82.3          1
61  2015q2               16374.2           105.2          1
62  2015q3               16454.9            80.7          1
63  2015q4               16490.7            35.8          1
64  2016q1               16525.0            34.3          1
65  2016q2               16583.1            58.1          1

[66 rows x 4 columns]

<br>

<span style="color:blue">Find all the quarters in which a recession starts or ends:</span>

In [6]:
def find_start_end():
    
    GDP = read_GDP()
    
    dt = pd.DataFrame()
    i = 1
    while i <= GDP.shape[0] - 2:
        if GDP.indicator[i] == -1 and GDP.indicator[i + 1] == -1:
            start = GDP.quarter[i]
            j = i + 2
            while j <= GDP.shape[0] - 2:
                if GDP.indicator[j] == 1 and GDP.indicator[j + 1] == 1:
                    end = GDP.quarter[j + 1]
                    i = j + 2
                    break
                else:
                    j = j + 1
            h = pd.Series([start, end])
            dt = dt.append(h, ignore_index = True)
        else:
            i = i + 1
    
    dt.rename(columns = {0:'start_quarter', 1:'end_quarter'}, inplace = True)
    
    return dt

In [7]:
find_start_end()

  start_quarter end_quarter
0        2008q3      2009q4

<br>

<span style="color:blue">Return all the recession bottoms:</span>

In [8]:
GDP = read_GDP()
sten = find_start_end()

bottoms = list()
for i in range(0, sten.shape[0]):
    st = sten.ix[i, 0]
    end = sten.ix[i, 1]
    
    # Must use np.logical_and() to compute the truth value of 2 conditions.
    sub_df = GDP.where(np.logical_and(GDP.quarter >= st, GDP.quarter <= end)).dropna()
    bottom_obs = (sub_df
                  .where(sub_df.billions_2009dollars == sub_df.billions_2009dollars.min())
                  .dropna()
                  .reset_index()) 
    
    # Must reset index in the previous step so that in the following step we can extract
    # the quarter value by .loc[0, 'quarter'] that returns only a string without any 
    # additional info of this observation.
    bottom_quarter = bottom_obs.loc[0, 'quarter']
    bottoms.append(bottom_quarter)
    
bottoms

['2009q2']

<br>

### Part (1):
Returns a DataFrame of towns and the states they are in from the university_towns.txt list.   
The following cleaning needs to be done:   
1. For "State", removing characters from "[" to the end.
2. For "RegionName", when applicable, removing every character from " (" to the end.
3. Depending on how you read the data, you may need to remove newline character '\n'. 

The format of the DataFrame should be like the following:

In [9]:
pd.DataFrame([["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"]],
             columns=["State", "RegionName"])

      State  RegionName
0  Michigan   Ann Arbor
1  Michigan  Yipsilanti

In [10]:
def get_list_of_university_towns():
    fh = open("university_towns.txt")

    # Use [] to create a list storing the content of the text file.
    lines = [line.strip() for line in fh.readlines()] 

    dt = pd.DataFrame(columns = ["State", "RegionName"])

    for i in range(0, len(lines)):
        line = lines[i]
        # re.match returns boolean values
        m = re.match("(.+)\[edit\]", line)  

        if m:
            # match.group([group1, ...]) returns one or more subgroups of the match.
            state = m.group(1)
        else:
            # There could be several blank lines at the end of the text file.
            if len(line) == 0:
                break
            line = re.sub(r' \(.*', '', line)
            dt = dt.append({'State': state, 'RegionName': line}, ignore_index = True)

    return dt

In [11]:
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

<br>
### Part (2):

Returns the <span style = 'color:red'>year and quarter</span> of the recession <span style = 'color:red'>start time</span> as a string value in a format such as 2005q3.

In [12]:
def get_recession_start():
    recess_start = find_start_end().loc[0, 'start_quarter']
    return recess_start

In [13]:
get_recession_start()

'2008q3'

<br>
### Part (3):

Returns the <span style = 'color:red'>year and quarter</span> of the recession <span style = 'color:red'>end time</span> as a string value in a format such as 2005q3.

In [14]:
def get_recession_end():
    recess_end = find_start_end().loc[0, 'end_quarter']
    return recess_end

In [15]:
get_recession_end()

'2009q4'

<br>
### Part (4):

Returns the <span style = 'color:red'>year and quarter</span> of the recession <span style = 'color:red'>bottom</span> time as a string value in a format such as 2005q3.

In [16]:
def get_recession_bottom():
    
    GDP = read_GDP()
    sten = find_start_end()

    for i in range(0, sten.shape[0]):
        st = sten.ix[i, 0]
        end = sten.ix[i, 1]

        # Must use np.logical_and() to compute the truth value of 2 conditions.
        sub_df = GDP.where(np.logical_and(GDP.quarter >= st, GDP.quarter <= end)).dropna()
        bottom_obs = (sub_df
                      .where(sub_df.billions_2009dollars == sub_df.billions_2009dollars.min())
                      .dropna()
                      .reset_index()) 

        # Must reset index in the previous step so that in the following step we can extract
        # the quarter value by .loc[0, 'quarter'] that returns only a string without any 
        # additional info of this observation.
        bottom_quarter = bottom_obs.loc[0, 'quarter']

    return bottom_quarter

In [17]:
get_recession_bottom()

'2009q2'

<br>

### Part (5):

Converts the housing data <span style = 'color:red'>to quarters</span> and returns it as <span style = 'color:red'>mean values</span> in a dataframe. This dataframe should be a dataframe with columns for <span style = 'color:red'>2000q1 through 2016q3</span>, and should have a multi-index in the shape of <span style = 'color:red'>["State","RegionName"]</span>.
    
Note: Quarters are defined in the assignment description, they are not arbitrary three month periods. 

The resulting dataframe should have 67 columns, and 10,730 rows.

In [18]:
def convert_housing_data_to_quarters():

    # Extract the eligible months from the csv file to read. Then add the State and 
    # RegionName columns.
    eli_cols = pd.read_csv('City_Zhvi_AllHomes.csv', header = None, nrows=1).loc[0]
    eli_cols = (eli_cols
                .where(np.logical_and(eli_cols >= '2000-01', eli_cols <= '2016-09'))
                .dropna()
                .tolist())
    # Use extend() rather than append() to add 2 column names into the list.
    # Note: Do NOT assign this back to eli_cols.
    eli_cols.extend(['State', 'RegionName']) 

    # Prepare a dataframe of state abbreviation mapping.
    state_abbr = pd.DataFrame([states], columns = list(states.keys())).T
    
    # Load the csv file, reading only the eligible columns and convert the state 
    # abbreviations into their full names.
    housing = pd.read_csv('City_Zhvi_AllHomes.csv', usecols = eli_cols)
    housing = (housing.merge(state_abbr, left_on = 'State', right_index = True)
                      .drop('State', axis = 1)
                      .rename(columns = {0: 'State'})
                      .set_index(['State', 'RegionName']))


    # Add one last quarter into the quarter list.
    quarters = read_GDP().quarter.tolist()
    quarters.append('2016q3')

    
    # Calculate mean price for each quarter and store it in the corresponding new column.
    # The last quarter has only 2 months of data and need special processing. 
    
    # Cannot use range(0, 200, 3) because when i = 198, we'll have i + 3 = 201 and 
    # housing.iloc[ : , i : i + 3] would include columns "2016-07", "2016-08" AND THE 
    # ADDED-FROM-THE-FIRST-LOOP new column "2000q1" because we're adding one column into 
    # the housing data in each loop.
    i = 0
    for i in range(0, 200 - 2, 3):
        housing[quarters[int(i/3)]] = housing.iloc[ : , i : i + 3].mean(axis = 1)
        
    housing[quarters[-1]] = housing.iloc[ : , 198 : 200].mean(axis = 1)

    housing_quarterly = housing.iloc[ : , -67: ]

    return housing_quarterly

In [19]:
convert_housing_data_to_quarters()

                                         2000q1         2000q2         2000q3  \
State    RegionName
New York New York                           NaN            NaN            NaN
         Rochester                 53566.666667   53233.333333   53200.000000
         Yonkers                  222233.333333  230900.000000  245533.333333
         Syracuse                  56800.000000   57866.666667   57400.000000
         Town of Greece            95100.000000   95500.000000   96333.333333
         Albany                    91566.666667   92100.000000   91233.333333
         Town of Poughkeepsie     131966.666667  135433.333333  139566.666667
         New Rochelle             362766.666667  370866.666667  382233.333333
         Town of Colonie          110600.000000  112400.000000  113166.666667
         Mount Vernon             239333.333333  247300.000000  258633.333333
         Utica                     50700.000000   51233.333333   52600.000000
         Valley Stream            223166.666667  225166.666667  229133.333333
         Schenectady               72266.666667   73100.000000   73733.333333
         White Plains             284333.333333  297833.333333  314366.666667
         Town of Hempstead        170166.666667  172266.666667  176800.000000
         Town of Binghamton        81633.333333   82500.000000   81700.000000
         Town of Newburgh         116000.000000  118400.000000  120233.333333
         Troy                      74733.333333   76533.333333   78866.666667
         Niagara Falls             50300.000000   50133.333333   50433.333333
         Irondequoit               83400.000000   83500.000000   84400.000000
         Binghamton                51766.666667   52000.000000   53366.666667
         Massapequa               248833.333333  251233.333333  254500.000000
         Town of Elmira            51200.000000   51600.000000   51700.000000
         Henrietta                 94566.666667   94400.000000   95766.666667
         Town of Webster          126433.333333  128600.000000  130833.333333
         Patchogue                134400.000000  135200.000000  141966.666667
         Clifton Park             140633.333333  142500.000000  143466.666667
         Freeport                 183833.333333  186433.333333  190400.000000
         Lindenhurst              168733.333333  169100.000000  173033.333333
         Levittown                189966.666667  193366.666667  197866.666667
...                                         ...            ...            ...
Vermont  Plainfield                         NaN            NaN            NaN
         West Brattleboro                   NaN            NaN            NaN
         Duxbury                            NaN            NaN            NaN
         Rochester                          NaN            NaN            NaN
         Sharon                             NaN            NaN            NaN
         White River Junction               NaN            NaN            NaN
         Irasburg                           NaN            NaN            NaN
         Mt Holly                           NaN            NaN            NaN
         Ferrisburgh                        NaN            NaN            NaN
         Lincoln                            NaN            NaN            NaN
         Franklin                           NaN            NaN            NaN
         Bridport                           NaN            NaN            NaN
         Fayston                            NaN            NaN            NaN
         Tunbridge                          NaN            NaN            NaN
         Ryegate                            NaN            NaN            NaN
         Shaftsbury                         NaN            NaN            NaN
         Shoreham                           NaN            NaN            NaN
         Fairlee                            NaN            NaN            NaN
         Corinth                            NaN            NaN            NaN
         Brookfield                         NaN            NaN            NaN
         Orwell                             NaN            NaN            NaN
         Town of Wallingford                NaN            NaN            NaN
         Stamford                           NaN            NaN            NaN
         Mendon                             NaN            NaN            NaN
         Morrisville                        NaN            NaN            NaN
         Town of Marshfield                 NaN            NaN            NaN
         Graniteville-East Barre            NaN            NaN            NaN
         Town of Manchester                 NaN            NaN            NaN
         East Montpelier                    NaN            NaN            NaN
Maine    Town of Dixfield                   NaN            NaN            NaN

                                         2000q4         2001q1         2001q2  \
State    RegionName
New York New York                           NaN            NaN            NaN
         Rochester                 53200.000000   53066.666667   52533.333333
         Yonkers                  254400.000000  259266.666667  263700.000000
         Syracuse                  57233.333333   57100.000000   56966.666667
         Town of Greece            96933.333333   98266.666667   99300.000000
         Albany                    91566.666667   92633.333333   94733.333333
         Town of Poughkeepsie     144366.666667  149366.666667  153833.333333
         New Rochelle             400066.666667  419166.666667  428066.666667
         Town of Colonie          114100.000000  115833.333333  118600.000000
         Mount Vernon             271700.000000  278833.333333  283466.666667
         Utica                     53000.000000   53300.000000   53933.333333
         Valley Stream            237200.000000  243466.666667  250333.333333
         Schenectady               73400.000000   75066.666667   76666.666667
         White Plains             326633.333333  331266.666667  335600.000000
         Town of Hempstead        182333.333333  185000.000000  189400.000000
         Town of Binghamton        82466.666667   84266.666667   85300.000000
         Town of Newburgh         123333.333333  129900.000000  131633.333333
         Troy                      78800.000000   79000.000000   79333.333333
         Niagara Falls             50200.000000   50133.333333   50133.333333
         Irondequoit               85266.666667   85933.333333   86733.333333
         Binghamton                53933.333333   54800.000000   56066.666667
         Massapequa               262900.000000  270766.666667  279133.333333
         Town of Elmira            51966.666667   51733.333333   52300.000000
         Henrietta                 97333.333333   98533.333333   99500.000000
         Town of Webster          132066.666667  133066.666667  134266.666667
         Patchogue                148433.333333  162166.666667  169233.333333
         Clifton Park             144433.333333  146366.666667  149133.333333
         Freeport                 197466.666667  203633.333333  209366.666667
         Lindenhurst              180066.666667  186366.666667  193833.333333
         Levittown                204200.000000  210700.000000  215833.333333
...                                         ...            ...            ...
Vermont  Plainfield                         NaN            NaN            NaN
         West Brattleboro                   NaN            NaN            NaN
         Duxbury                            NaN            NaN            NaN
         Rochester                          NaN            NaN            NaN
         Sharon                             NaN            NaN            NaN
         White River Junction               NaN            NaN            NaN
         Irasburg                           NaN            NaN            NaN
         Mt Holly                           NaN            NaN            NaN
         Ferrisburgh                        NaN            NaN            NaN
         Lincoln                            NaN            NaN            NaN
         Franklin                           NaN            NaN            NaN
         Bridport                           NaN            NaN            NaN
         Fayston                            NaN            NaN            NaN
         Tunbridge                          NaN            NaN            NaN
         Ryegate                            NaN            NaN            NaN
         Shaftsbury                         NaN            NaN            NaN
         Shoreham                           NaN            NaN            NaN
         Fairlee                            NaN            NaN            NaN
         Corinth                            NaN            NaN            NaN
         Brookfield                         NaN            NaN            NaN
         Orwell                             NaN            NaN            NaN
         Town of Wallingford                NaN            NaN            NaN
         Stamford                           NaN            NaN            NaN
         Mendon                             NaN            NaN            NaN
         Morrisville                        NaN            NaN            NaN
         Town of Marshfield                 NaN            NaN            NaN
         Graniteville-East Barre            NaN            NaN            NaN
         Town of Manchester                 NaN            NaN            NaN
         East Montpelier                    NaN            NaN            NaN
Maine    Town of Dixfield                   NaN            NaN            NaN

                                         2001q3         2001q4         2002q1  \
State    RegionName
New York New York                           NaN            NaN            NaN
         Rochester                 52666.666667   53200.000000   53366.666667
         Yonkers                  271300.000000  282066.666667  292833.333333
         Syracuse                  57433.333333   58000.000000   59033.333333
         Town of Greece           100000.000000  101200.000000  102766.666667
         Albany                    97266.666667   99000.000000   99433.333333
         Town of Poughkeepsie     156966.666667  164200.000000  172800.000000
         New Rochelle             436633.333333  440400.000000  443966.666667
         Town of Colonie          120666.666667  122666.666667  124433.333333
         Mount Vernon             296700.000000  307133.333333  321633.333333
         Utica                     53833.333333   54200.000000   54266.666667
         Valley Stream            256700.000000  264900.000000  272033.333333
         Schenectady               77000.000000   78333.333333   80933.333333
         White Plains             349566.666667  364366.666667  384966.666667
         Town of Hempstead        194433.333333  205200.000000  213333.333333
         Town of Binghamton        86333.333333   87766.666667   87500.000000
         Town of Newburgh         132666.666667  139533.333333  144066.666667
         Troy                      79266.666667   79500.000000   80733.333333
         Niagara Falls             48866.666667   47900.000000   48033.333333
         Irondequoit               87233.333333   88133.333333   89600.000000
         Binghamton                56333.333333   57800.000000   57933.333333
         Massapequa               286833.333333  297500.000000  307533.333333
         Town of Elmira            52300.000000   52866.666667   53666.666667
         Henrietta                 99166.666667   99400.000000   99933.333333
         Town of Webster          134533.333333  135633.333333  137433.333333
         Patchogue                177533.333333  185400.000000  190266.666667
         Clifton Park             154433.333333  157900.000000  160533.333333
         Freeport                 217000.000000  227700.000000  237066.666667
         Lindenhurst              202066.666667  212666.666667  219500.000000
         Levittown                223200.000000  234100.000000  241400.000000
...                                         ...            ...            ...
Vermont  Plainfield                         NaN            NaN            NaN
         West Brattleboro                   NaN            NaN            NaN
         Duxbury                            NaN            NaN            NaN
         Rochester                          NaN            NaN            NaN
         Sharon                             NaN            NaN            NaN
         White River Junction               NaN            NaN            NaN
         Irasburg                           NaN            NaN            NaN
         Mt Holly                           NaN            NaN            NaN
         Ferrisburgh                        NaN            NaN  144000.000000
         Lincoln                            NaN            NaN            NaN
         Franklin                           NaN            NaN            NaN
         Bridport                           NaN            NaN            NaN
         Fayston                            NaN            NaN            NaN
         Tunbridge                          NaN            NaN            NaN
         Ryegate                            NaN            NaN            NaN
         Shaftsbury                         NaN            NaN            NaN
         Shoreham                           NaN            NaN            NaN
         Fairlee                            NaN            NaN            NaN
         Corinth                            NaN            NaN            NaN
         Brookfield                         NaN            NaN            NaN
         Orwell                             NaN            NaN            NaN
         Town of Wallingford                NaN            NaN            NaN
         Stamford                           NaN            NaN            NaN
         Mendon                             NaN            NaN            NaN
         Morrisville                        NaN            NaN            NaN
         Town of Marshfield                 NaN            NaN            NaN
         Graniteville-East Barre            NaN            NaN            NaN
         Town of Manchester                 NaN            NaN            NaN
         East Montpelier                    NaN            NaN            NaN
Maine    Town of Dixfield                   NaN            NaN            NaN

                                         2002q2    ...            2014q2  \
State    RegionName                                ...
New York New York                           NaN    ...     515466.666667
         Rochester                 53566.666667    ...      60100.000000
         Yonkers                  303533.333333    ...     382033.333333
         Syracuse                  60200.000000    ...      76533.333333
         Town of Greece           103400.000000    ...     120000.000000
         Albany                   101233.333333    ...     164266.666667
         Town of Poughkeepsie     176933.333333    ...     191300.000000
         New Rochelle             452133.333333    ...     577200.000000
         Town of Colonie          126233.333333    ...     200966.666667
         Mount Vernon             329700.000000    ...     347933.333333
         Utica                     55166.666667    ...      78466.666667
         Valley Stream            279566.666667    ...     360666.666667
         Schenectady               83866.666667    ...     122733.333333
         White Plains             400700.000000    ...     500100.000000
         Town of Hempstead        221200.000000    ...     265000.000000
         Town of Binghamton        88666.666667    ...     123333.333333
         Town of Newburgh         151233.333333    ...     179066.666667
         Troy                      82600.000000    ...     129800.000000
         Niagara Falls             48666.666667    ...      60200.000000
         Irondequoit               91033.333333    ...     109466.666667
         Binghamton                57866.666667    ...      75766.666667
         Massapequa               320066.666667    ...     420100.000000
         Town of Elmira            54000.000000    ...      74633.333333
         Henrietta                100466.666667    ...     126300.000000
         Town of Webster          138833.333333    ...     167966.666667
         Patchogue                195166.666667    ...     253533.333333
         Clifton Park             163833.333333    ...     254466.666667
         Freeport                 244133.333333    ...     297400.000000
         Lindenhurst              227533.333333    ...     284233.333333
         Levittown                250300.000000    ...     333800.000000
...                                         ...    ...               ...
Vermont  Plainfield                         NaN    ...     223000.000000
         West Brattleboro                   NaN    ...     190000.000000
         Duxbury                            NaN    ...     244033.333333
         Rochester                          NaN    ...     199600.000000
         Sharon                             NaN    ...     202933.333333
         White River Junction               NaN    ...     154133.333333
         Irasburg                           NaN    ...     139133.333333
         Mt Holly                           NaN    ...     206633.333333
         Ferrisburgh              156300.000000    ...     288700.000000
         Lincoln                            NaN    ...     236933.333333
         Franklin                           NaN    ...     175333.333333
         Bridport                           NaN    ...     228333.333333
         Fayston                            NaN    ...     317233.333333
         Tunbridge                          NaN    ...     210433.333333
         Ryegate                            NaN    ...     160900.000000
         Shaftsbury                         NaN    ...     231666.666667
         Shoreham                           NaN    ...     231500.000000
         Fairlee                            NaN    ...     175533.333333
         Corinth                            NaN    ...     160800.000000
         Brookfield                         NaN    ...     217033.333333
         Orwell                             NaN    ...     222166.666667
         Town of Wallingford                NaN    ...     177033.333333
         Stamford                           NaN    ...     170733.333333
         Mendon                             NaN    ...     207133.333333
         Morrisville                        NaN    ...     172466.666667
         Town of Marshfield                 NaN    ...     189266.666667
         Graniteville-East Barre            NaN    ...     131433.333333
         Town of Manchester                 NaN    ...     277300.000000
         East Montpelier                    NaN    ...     265366.666667
Maine    Town of Dixfield                   NaN    ...      37966.666667

                                         2014q3         2014q4         2015q1  \
State    RegionName
New York New York                 522800.000000  528066.666667  532266.666667
         Rochester                 61266.666667   62800.000000   62900.000000
         Yonkers                  385766.666667  385333.333333  385866.666667
         Syracuse                  75733.333333   75133.333333   76966.666667
         Town of Greece           121133.333333  122433.333333  121633.333333
         Albany                   162100.000000  159700.000000  159433.333333
         Town of Poughkeepsie     191700.000000  193566.666667  194233.333333
         New Rochelle             596600.000000  610466.666667  604600.000000
         Town of Colonie          199533.333333  201100.000000  203200.000000

<br>

### Part (6):

First create new data showing the decline or growth of housing prices <span style = 'color:red'>between the recession start and the recession bottom</span>. Then run a t test comparing the university town values to the non-university towns values, return whether the alternative hypothesis (that the two groups are the same) is <span style = 'color:red'>true or not</span> as well as the <span style = 'color:red'>p-value</span> of the confidence. 
    
Return the <span style = 'color:red'>tuple (different, p, better)</span> where different = True if the t-test is True at a p < 0.01 (we reject the null hypothesis), or different = False if otherwise (we cannot reject the null hypothesis). <span style = 'color:red'>The variable p should be equal to the exact p value returned from scipy.stats.ttest_ind().</span> The value for better should be either "university town" or "non-university town" depending on which has a <span style = 'color:red'>lower mean price ratio</span> (which is equivilent to a reduced market loss).

In [20]:
def run_ttest():
    
# Complete the quarter sequence (not necessary though).
    quarters = read_GDP().quarter
    quarters = quarters.append(pd.Series({len(quarters):'2016q3'}))

# Get the pre-recession quarter and the recession bottom quarter.
    recess_sten = find_start_end()
    st = recess_sten.loc[0, 'start_quarter']
    pre_quarter = quarters.iloc[quarters[quarters == st].index - 1].tolist()[0]
    bottom = get_recession_bottom()
    
# Get the housing dataframe and compute the mean price ratio for each town.
    hdf = convert_housing_data_to_quarters().loc[ :, [pre_quarter, bottom]].dropna()
    hdf['mean_price_ratio'] = hdf[pre_quarter].div(hdf[bottom])

# Split the housing dataset into university town set and non university town set.
    uni_town_names = get_list_of_university_towns()
    # convert the university towns (including the state and the region) to a list of tuples
    # before passing it to loc.
    uni_list_of_tuples = list(zip(uni_town_names.State, uni_town_names.RegionName))
    # Some university towns don't have any housing price data, but hdf.loc[uni_list_of_tuples]
    # would add those towns into the hdf dataframe index and fill the corresponding value with 
    # NaN. That's why we need to dropna() again.
    uni_towns_df = hdf.loc[uni_list_of_tuples].dropna()                         
    non_uni_towns_df = hdf[ ~ hdf.index.isin(uni_list_of_tuples)]

# Prepare the final answer.
    better = ("university town" 
              if uni_towns_df['mean_price_ratio'].mean() <= 
                 non_uni_towns_df['mean_price_ratio'].mean() 
              else "non-university town")
    ttest_result = ttest_ind(non_uni_towns_df['mean_price_ratio'], 
                             uni_towns_df['mean_price_ratio'])
    different = True if ttest_result.pvalue < 0.01 else False

    answer = tuple((different, ttest_result.pvalue, better))


    return answer

In [21]:
run_ttest()

(True, 0.0027240637047608778, 'university town')